/* Cascading stylesheet for the website */

/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/* Text inside these asterisks and slashes are comments for human */


  a {
    color: blue;/* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: red;/* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  body {
    color: #fefefe;/* set the text color to black here */
    font-family: 'Poppins';;/* set the font here */
    text-align: left;/* set the text alignment here */
    width: 100vw; /*width of body*/
    height: auto;
    overflow-x: hidden;
   }

   .hero {
    background-color: rgba(0, 0, 0, 0.6);/* set the background color here */
    width: 100vw; /*width of body*/
    height: 100vh; /*height of body*/
    background-image: url(/images/banner.jpg); /*background image*/
    background-repeat: no-repeat; /*don't make background repeat*/
    background-size: cover;/*wmake image cover screen*/
    background-blend-mode: multiply;/*mix color and image*/
   }

  footer p {
    margin-bottom: 1rem;
    padding-top: 20px;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: .8rem;
    border-top: 1px solid black;
  }

  h1 {
    font-size: 1.2rem;
    color: #fefefe;
    font-weight: 400;
   }

  .intro {
    height: 70%;
    width: 70%;
    position: relative;
    top: 35%;
    font-size: 3rem;
    padding-left: 7rem;
  }

  .intro span {
    color: lightcoral;
  }

  nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 0 30px;
  }

  .socials a {
    color: #fefefe;
    margin: 0 15px;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .fa-chevron-down {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    position: relative;
    top: 5rem;
    animation: move 1.5s ease-in-out infinite;
  }

  @keyframes move {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .about {
    height: 100vh;
    width: 100vw;
    background-color: fefefe;
    color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 7rem;
  }

  p {
    font-size: 1.1rem;
    margin: .5rem 0;
  }

  button {
    width: 120px;
    border: 2px solid lightcoral;
    background: transparent;
    padding: 7px 10px;
    font-size: 1rem;
    margin-top: 70px;
  }

  button a {
    color: lightcoral;
  }

  .about-title {
    color: lightcoral;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 5rem;
  }